
html {
    font-size: large;
    justify-content: center
    ;
}
.wrapper {
    width: 100%;
    height: 100vh;
}

section {
    width: 100%;
    height: auto;
}
/*-----------------------------ABOUT SECTION------------------------------------------------*/
#about {
    display: flex;
    flex-direction: column;
    height: 105vh;
}

.about-left-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    
}
.about-title {
    right: 15%;
}
.bg-img {
    left: 0;
    top: 0;
}

#skill {
    height: 80%;
}

/*---------------------PROJECT SECTION---------------------------------------------------*/
 .proj {
     padding: 5px;
 }
.project-wrapper {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*-----------------------CONTACT SECTION-------------------------------------------------*/

#contact {
    width: 100%;
}
form {
    width: 75%;
    height: auto;
}